.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pokemonGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

img {
  width: 70px;
}

.scores {
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: space-around;
}

.currentScore,
.highestScore {
  border: 3px solid rgb(62, 104, 153);
  background-color: beige;
  font-size: 14px;
  font-weight: 600;
  padding: 20px;
  border-radius: 40px;
  color: rgb(11, 76, 151);
}

h1 {
  color: rgb(234, 203, 96);
  font-weight: 600;
  font-size: 40px;
}

.pokemonCard {
  padding: 10px;
  border: 3px solid rgb(62, 104, 153);
  background-color: beige;
  border-radius: 15px;
  text-align: center;
  width: 7.2rem;
  box-shadow: 0 4px 8px rgba(6, 60, 85, 0.2);
  transition: box-shadow 0.3s ease;
}

.howTo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 3px solid rgb(62, 104, 153);
  padding: 20px;
  margin: 20px;
  border-radius: 25px;
  background-color: beige;
  color: rgb(11, 76, 151);
  text-align: center;
}

.howToTitle {
  text-align: center;
}

@media screen and (min-width: 732px) {
  .pokemonGrid {
    gap: 20px;
  }

  h1 {
    font-size: 47px;
  }

  .currentScore,
  .highestScore {
    width: 200px;
    font-size: 1.2rem;
  }
  .howTo {
    max-width: 40vw;
    align-self: center;
  }
}

@media screen and (min-width: 807px) {
  .pokemonGrid {
    gap: 50px;
  }
  .pokemonCard {
    width: 7.8rem;
  }

  img {
    width: 100px;
  }

  h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 1064px) {
  .pokemonCard {
    width: 13rem;
    font-size: 25px;
  }

  .pokemonCard img {
    width: 150px;
  }
  h1 {
    font-size: 80px;
  }
  .currentScore,
  .highestScore {
    width: 250px;
    font-size: 1.3rem;
  }
}
