.pokemonGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

img {
  width: 70px;
}

.scores {
  display: flex;
  gap: 50px;
  text-align: center;
}

.currentScore,
.highestScore {
  border: 1px solid black;
  background-color: rgb(170, 169, 169);
  padding: 5px;
  border-radius: 40px;
  color: rgb(11, 52, 105);
}

h1 {
  color: rgb(234, 203, 96);
  font-weight: 600;
}
