@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Pokemon Solid", sans-serif;
  -webkit-text-stroke: 2px rgb(11, 76, 151);
  text-align: center;
}
